# Bu dosya, projenin çalışması için gereken tüm Python kütüphanelerini içerir.

# Web sunucusu
flask
gunicorn

# API ve dosya işlemleri
requests
google-cloud-storage
google-cloud-secretmanager

# Yapay Zeka Servisleri
google-generativeai
google-cloud-texttospeech
openai-whisper

# Görüntü ve Video İşleme
Pillow
moviepy
imageio-ffmpeg
opencv-python-headless
rembg
onnxruntime

# Diğer
numpy
matplotlib
