Flask==2.3.3
gunicorn==21.2.0
google-cloud-storage
google-cloud-secret-manager
google-cloud-aiplatform # YENİ: Vertex AI için
google-auth # YENİ: Güvenli kimlik doğrulama için
requests
Pillow
numpy
rembg
opencv-python-headless
moviepy
imageio-ffmpeg
git+https://github.com/openai/whisper.git
onnxruntime
google-cloud-texttospeech
matplotlib